# .env.example
MONGO_INITDB_ROOT_USERNAME: <user_name>
MONGO_INITDB_ROOT_PASSWORD: <password>

AWS_ACCESS_KEY_ID=<access_key_id>
AWS_SECRET_ACCESS_KEY=<secret_key>
AWS_REGION=<region>
BUCKET=<bucket_name>
PREFIX=<path>/